[submodule "HelloMasonry/Masonry"]
	path = HelloMasonry/Masonry
	url = https://github.com/daydreamboy/Masonry.git
[submodule "HelloYYKit/YYKit"]
	path = HelloYYKit/YYKit
	url = https://github.com/daydreamboy/YYKit.git
[submodule "HelloLottie/Lottie"]
	path = HelloLottie/Lottie
	url = https://github.com/daydreamboy/lottie-ios.git
