//
//  HelloCustomXCConfig.release.xcconfig
//  HelloCustomXCConfig
//
//  Created by wesley chen on 16/11/25.
//  Copyright © 2016年 wesley chen. All rights reserved.
//

#include "HelloCustomXCConfig.common.xcconfig"
//#include "../../Pods/Target Support Files/Pods-HelloCustomXCConfig/Pods-HelloCustomXCConfig.release.xcconfig"

XXX_CFBundleName = App(Release)

// override
APP_PUB_KEY = @"pub-key (release)"

#include "compiler_macro_generator.xcconfig"
