#include "../../Example/Pods/Target Support Files/AwesomeSDK_static_framework/AwesomeSDK_static_framework.xcconfig"

// Dynamic Library Install Name
LD_DYLIB_INSTALL_NAME = @rpath/AwesomeSDK_static_framework.framework/AwesomeSDK_static_framework

// Product Bundle Identifer
PRODUCT_BUNDLE_IDENTIFIER = org.cocoapods.AwesomeSDK

// Header Search Paths
HEADER_SEARCH_PATHS = "${PODS_ROOT}/Headers/Private" "${PODS_ROOT}/Headers/Public"
